nav {
  background-color: #F5E6DF;
}
.navbar-nav .nav-link {
  background-color: #ED1E79;
  color: white !important;
  font-size: 17px;
  padding: 5px 10px;
  transition: 0.4s;
  text-decoration: none;
  display: block;
  text-align: center;
}
.navbar-nav a.active {
  background-color: #0D1950!important;
  color: white;
}
